.head1 {
    font-size:40px;
    color: #04AA6D;
    font-weight:bold;
}
.head2 {
    font-size:17px;
    margin-bottom:15px;
    margin-top:15px;
}
body {
    margin: 0 auto;
    background-position:center;
    background-size: contain;
    padding:1em;
}

.menu {
    position: sticky;
    top: 0;
    background-color: #04AA6D;
    padding:10px 0px 10px 0px;
    color:white;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 5pt;
}
.menu a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
.menu-log {
    right: auto;
    float: right;
}
footer {
    width: 100%;
    bottom: 0px;
    background-color: #000;
    color: #fff;
    position: absolute;
    padding-top:20px;
    padding-bottom:50px;
    text-align:center;
    font-size:30px;
    font-weight:bold;
}



table {
    margin-top: 1em;
    width:100%; 
    border-collapse: collapse;
}

th, td {
    text-align: center;
    padding: 8px;
  }

  th {
    background-color: #04AA6D;
    color: white;
  }

tr:nth-child(even) {background-color: #f2f2f2;}

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#tippingLadderSec {
    display: block;
}